.container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 25px;
  margin-top: 25px;
  font-weight: 600;
}

.btn {
  width: 100px;
}

.btn:hover {
  color: salmon;
}
